extends layout

block content	
	div.container.text-center
		h1.bg-success.text-center Contest Winner!
		for entry in allEntries
			ul.list-group.text-center
				li.list-group-item Submitted by: #{entry.name}
				li.list-group-item Link: #{entry.url}
				li.list-group-item Title: #{entry.title}
				li.list-group-item Description: #{entry.description}
				li.list-group-item: iframe(width="640", height="495", src="#{entry.url}", frameborder="0", allowfullscreen)
				li.list-group-item Votes: #{entry.score}
					
	div.container
		form(method="post", action="/reset"): button.btn.btn-success Rest Conenst
		p.text-center: a(href='/') Go Home